@import './svg-icons-custom';

@mixin custom-svg($name){
  background-image: url('data:image/svg+xml;base64,#{map-get($svg-icons-custom, $name)}');
}

.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;

  &.dribbble      { @include custom-svg('dribble'); }
  &.codefights    { @include custom-svg('codefights') }
  &.gmail         { @include custom-svg('gmail') }
  &.email         { @include custom-svg('email') }
  &.facebook      { @include custom-svg('facebook') }
  &.flickr        { @include custom-svg('flickr') }
  &.github        { @include custom-svg('github') }
  &.gitlab        { @include custom-svg('gitlab') }
  &.instagram     { @include custom-svg('instagram') }
  &.linkedin      {  @include custom-svg('linkedin') }
  &.pinterest     {  @include custom-svg('pinterest') }
  &.rss           {  @include custom-svg('rss') }
  &.stackoverflow { @include custom-svg('stackoverflow') }
  &.duolingo      { @include custom-svg('duolingo') }
  &.strava        { @include custom-svg('strava') }
  &.tumblr        { @include custom-svg('tumblr') }
  &.twitter       {  @include custom-svg('twitter') }
  &.youtube 	    {  @include custom-svg('youtube') }
  &.googleplus	  {  @include custom-svg('googleplus') }

}
