---
layout: default
---

<article class="page recipe">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}


    {% assign current_date = page.date | date: "%Y-%m-%d"  %}
    {% assign image_files = site.static_files | where: "food", true %}

    {% for myimage in image_files %}
    {% if myimage.basename contains current_date and myimage.basename contains page.type %}
    <img src="{{ myimage.path }}" alt="{{ myimage.basename }}" srcset="">
    {% endif %}
    {% endfor %}
  </div>
</article>
